@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #131312;
  --background-image:
    linear-gradient(to right, rgba(133, 133, 133, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(133, 133, 133, 0.15) 1px, transparent 1px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e201e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image:
    linear-gradient(to right, rgba(133, 133, 133, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(133, 133, 133, 0.15) 1px, transparent 1px);
  background-size: 13%;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}
/* #noise-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://hex.tech/images/bkg-noise.webp');
  opacity: 0.1;
} */

@keyframes draw {
  0% {
    stroke-dashoffset: 100;
    fill-opacity: 0;
  }
  30% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.animate-draw-fill {
  stroke-dasharray: 100;
  fill-opacity: 0;
  animation: draw 3s ease-in-out infinite alternate;
}
